.fundo{
    height: 922px;
}

.header-profile {
    background: #2f3640;
    padding: 0 90px;
}

.nav-bar-profile{
    float: right;
    display: flex;
    align-items: center;
    min-height: 70px;
}

.header-profile img{
    height:62px;
}

.nav-profile{
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
    text-decoration: none;
}

.nav-profile:hover {
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
}

.button-profile-on {
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
    text-decoration: none;
    background: none;
    border: 1px solid #2f3640;
    cursor: pointer;
}

.create-new-service{
    background: #fff;
    margin-left: 10px;
    color: #2f3640;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
    text-decoration: none;
}

.create-new-service:hover{
    background: rgb(159, 210, 231);
    color: #fff;
    transform: scale(1.1);
}

.button-profile-on:hover{
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
}

.button-profile-off{
    display: none;
}

/* .box{
    width: 65%;
    background-image: linear-gradient(to right, rgb(84, 109, 84) , rgb(77, 121, 202));
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    color: #fff;
}

.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 15px;
}

.box p{
    text-align: center;
}

.box ul {
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a{
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}

.box li a:hover{
    color: #b9b9b9;
}

.config-perfil {
    text-decoration: none;
    color: #2c3e50;
    font-size: 18px;
    transition: .9s;
}

.config-perfil:hover{
    color: #fff;
} */

.profile-perfil{
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.profile-card{
    margin-left: 20%;
    width: 850px;
    overflow: hidden;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px #00000070;
}

.top-section{
    padding: 60px 40px;
    background: #2c2c54aa;
    color: #f1f1f16e;
}

.message, .notif{
    position: absolute;
    top: 40px;
}

.message{
    right: 40px;
}

.notif{
    left: 40px;
}

.pic{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid #2c3e50;
    border-radius: 50%;
    padding: 8px;
    position: relative;
}

.pic:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #2ce350;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 50%;
    animation: wave 1.5s infinite linear;
}

@keyframes wave{
    to{
        transform: scale(1.5);
        opacity: 0;
    }
}

.pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name{
    color: #f1f1f1;
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.tag{
    font-size: 22px;
    color: #243e58;
}

.bio{
    color: #f1f1f1;
}

.bottom-section{
    background: #f1f1f1;
    padding: 60px 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    text-transform: uppercase;
}

.border{
    width: 1px;
    height: 20px;
    background: #bbb;
    margin: 0 30px;
}

.bottom-section span{
    font-size: 14px;
    display: block;
}

.social-media{
    position: absolute;
    width: 100%;
    top: -30px;
    left: 0;
    z-index: 1;
}

.fab{
    font-size: 33px;
    height: 25px;
}

.social-media a{
    width: 60px;
    height: 60px;
    background: #2c3e50;
    border-radius: 50%;
    color: #f1f1f1;
    font-size: 20px;
    line-height: 60px !important;
    margin: 0 10px;
    position: relative;
    padding: 20px;
}

.social-media a:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2c3e50;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s linear;
}

.social-media a:hover:after{
    transform: scale(1.4);
    opacity: 0;
}